
@custom-media --tablet-hrztl screen and (max-width: 1024px);
@custom-media --tablet-vtcl screen and (max-width: 768px);
@custom-media --mobile screen and (max-width: 400px);

@media (--tablet-hrztl){
	header nav#navMain{	
		display: none;
	}

	.main {
		& .contact{
			& .container{
				& .form{
					& form{
						& input{
							padding: 10.3px 6px;
						}
					}

					& .btn{
						margin-top: 13px;
					}
				}
			}
		}
	}
}

@media (--tablet-vtcl){
	header {
		& .logo{
			width: 100%;

			& p{
				text-align: center;
			}
		}

		& nav {
			width: 100%;
			float: left;
			margin-top: 20px;

			& ul {
				float: left;
			}
		}
	}

	.main{
		& .about {
			& .about_text{
				width: 60%;
			}

			& .image{
				margin-right: 5%;
			}
		}

		& .contact{
			& .container{
				& .form {
					& form {
						margin-top: 30px;

						& input{
							margin-bottom: 25px;
						}
					}

					& .btn{
						margin-top: 12px;
					}
				}
			}
		}
	}
}

@media (--mobile){
	.banner .banner_text{
		padding-top: 50px;
	}

	.main{
		& .about{
			& .image{
				width: 50%;
				margin-bottom: 25px;
			}

			& .about_text{
				width: 100%;
			}
		}

		& .workignProcess  .process .cards{
			padding-top: 20px;
			height: 90px;

			& i{
				font-size: 3.2rem;
			}
		}

		& .experience_education{
			& .container {
				& .experience_work{
					width: 100%;
					margin: 0;
				}

				& .education{
					width: 100%;
					margin: 25px 0 0 0;
				}
			}
		}

		& .works ul li{
			width: 48%;
			margin: 0 1% 10px 1%;
		}

		& .contact {
			& .container {
				& .form{
					width: 100%;
					margin-bottom: 15%;
				}

				& .info{
					width: 100%;
				}
			}
		}
	}
}