@import './variables.css';
@import './responsive.css';

/*********************
 * Estilos Generales *
 *********************/

 *{
 	margin: 0;
 	padding: 0;
 } 

 body{
 	font-size: 12pt;
 	font-family:"open sans", Arial, Helvetica, sans-serif;
 }

 header, .container, .footer{
 	width: 85%;
 	max-width: 960px;
 	margin: 0 auto;
 }

 a{
 	color: var(--cl-text);
 	text-decoration: none;

 	&:hover{
	 	color: var(--cl-hover);
	 }
 }

 

 .section{
 	padding: 100px 0;
 }

.btn{
	@apply --btn-layout;
 }


 /*********************
  *       Header      *
  *********************/

.banner{
	background-color: var(--bg-principal);
	min-height: 600px;

	& .banner_text{
		width: 85%;
	 	max-width: 960px;
	 	margin: 0 auto;
	 	text-align: center;
	 	padding-top: 100px;

	 	& h1{
			@apply --montserrat-bold;
			font-size: 4rem;
			color: var(--cl-text);
		}

		& p{
			@apply --montserrat-bold;
			color: var(--cl-text);
		}
	}
}

header{
	padding-top: 30px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 85%;

	& .logo{
		width: 40%;
		float: left;

		& p{
			@apply --montserrat-light;
			font-size: 4rem;
			text-align: left;
			color: var(--cl-text);

			& a:hover{
				color: var(--cl-text);
			}
		}
	}

	& nav {
		width: 60%;
		float: right;
		padding: 10px 0;
		margin-top: 30px;

		& ul{
			float: right;

			& li{
				list-style: none;
				display: inline-block;
				margin-left: 25px;
				margin-bottom: 10px;

				& a{
					@apply --montserrat-bold;
					font-size: 1rem;
				}	
			}
		}
	}
}

 /*********************
  *       Main        *
  *********************/

.main{
	@apply --fixed-float;
	& .about{
		& .image{
			width: 35%;
			float: left;

			& img{
				max-width: 100%;
				max-height: 350px;
			}
		}

		& .about_text{
			width: 65%;
			text-align: justify;
			overflow: hidden;
			@apply --montserrat-light;
			color: #000;

			& h2{
				@apply --montserrat-bold;
			}
		}
	}

	& .workignProcess{
		clear: both;
		width: 100%;
		text-align: center;

		& .workignProcess_text{
			font-family: var(--montserrat);
			margin-bottom: 25px;

			& h2{
				font-weight: 500;
			}

			& p{
				font-weight: 300;
			}
		}

		& .process{
			display: flex;
			justify-content: space-between;

			& .cards{
				width: 220px;
				height: 140px;
				color: white;
				padding-top: 60px;

				& i{
					font-size: 4.5rem;
					color: var(--cl-text);
				}
			}

			& #card1{
				background: #10c6fc;
			}

			& #card2{
				background: #835aeb;
			}

			& #card3{
				background: #002453;
			}

			& #card4{
				background: #ff2b4a;
			}
		}
	}

	& .experience_education{
		@apply --fixed-float;
		width: 100%;
		float: left;
		background-color: var(--bg-principal);
		color: var(--cl-text);
		text-align: justify;

		& .container{
			& .experience_work{
				background: #8bccc5;
				font-family: var(--montserrat);
				width: 48%;
				float: left;
			}

			& .education{
				background: #8bccc5;
				font-family: var(--montserrat);
				width: 48%;
				float: left;
			}

			& .experience_work{
				margin-right: 2%;
			}

			& .education{
				margin-left: 2%;
			}

			& .experience{
				padding: 50px 40px; 

				& h2{
					font-weight: 500;
					font-size: 1.5rem;
					text-transform: uppercase;
				}

				& h3{
					font-weight: 400;
					font-size: 1rem;
				}

				& p{
					font-weight: 300;
					font-size: .9rem;
				}

				& hr{
				    border: 1px solid #a2d6d1;
					display: block;
				    margin-top: 2em;
				    margin-bottom:2em;
				    margin-left: auto;
				    margin-right: auto;
				    
				}
			}
		}
	}
	
	& .works{
		@apply --fixed-float;
		text-align: center;
		width: 100%;
		font-family: var(--montserrat);

		& h2{
			font-size: 1.5rem;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 35px;
		}

		& p{
			font-weight: 300;
			font-size: .9rem;
			margin-bottom: 25px;
		}

		& ul{
			list-style: none;

			& li{
				float: left;
				background:  #002453;
				width: 23%;
				margin: 1%;
				height: 200px;
				border: 0 solid grey;
				color: var(--cl-text);

				& img{
					width: 100%;
				}
			}
		}
	}

	& .contact{
		@apply --fixed-float;
		background: var(--bg-principal);
		color: var(--cl-text);
		font-family: var(--montserrat);

		& .container {
			& .form{
				width: 49%;
				float: left;
				margin-right: 1%;
				background: #8bccc5;
				text-align: center;

				& h2{
					margin-top: 25px;
				}

				& form input{
					width: 90%;
					padding: 8px 6px;
					margin: 10px 5%;
					box-sizing: border-box;
				}

				& textarea{
					width: 90%;
					padding: 8px 6px;
					margin: 8px 5%;
					box-sizing: border-box;
				}

				& .btn{
					float: right;
					margin: 15px 22px 40px 0;
				}
			}

			& .info{
				width: 49%;
				float: left;
				margin-left: 1%;

				& .cards2{
					background: #8bccc5;
					margin-bottom: 10px;
					padding: 30px;

					& h2{
						font-size: 1.5rem;
						font-weight: 500;
						text-transform: uppercase;
						margin: 10px;
					}

					& p{
						font-weight: 300;
						font-size: .9rem;
						margin: 10px;
					}
				}
			}
		}
	}
}

footer{
	background: var(--bg-footer);
	text-align: center;
	color: var(--cl-text);

	& .footer {
		& .icon_social{
			padding-top: 25px;
			padding-bottom: 10px;

			& .barrita::after{
				content: "|";
				font-size: 1rem;
				font-weight: 
			}

			& i{
				margin: 0 8px;
			}
		}

		& .text-footer p{
			padding-bottom: 40px;
		}
	}
}